
// @media (max-width: $medium-screen) {
//     .about-div-1 {
//         // position: relative;
//         // left: 25%;
//         //width: 50%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 20px;
//     }
// }
// @media (min-width: $medium-screen) {
//     .about-div-1 {
//         // position: relative;
//         // left: 25%;
//         width: 50%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 20px;
//     }
// }

.about-div-1 {
    // position: relative;
    // left: 25%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-div-2 {
    p {
        line-height: 1.9;
        font-size: 20px;
    }
    img {
        width: 360px;
        height: 240px;
        border-radius: 30px;
        border: 3px solid $border_color;
    }
}
.about-div-2:hover {
    scale: 1.05
}