@import "variables";


@media (max-width: $small-screen) {
    .benefits_div {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap_between_cards_vertical $gap_between_cards_horizontal;
        padding-right: $card_padding_right;
    }
}

@media (min-width: $small-screen) and (max-width: $medium-screen) {
    .benefits_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gap_between_cards_vertical $gap_between_cards_horizontal;
        padding-right: $card_padding_right;
    }
}

@media (min-width: $medium-screen) {
    .benefits_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 700px;
        gap: $gap_between_cards_vertical $gap_between_cards_horizontal;
        padding-right: $card_padding_right;
    }
}

.benefit_card {
    h3 {
        font-size: 25px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
    border: $card-border-width solid white;
    border-radius: 15px;
    min-height: 250px;
    animation: benefitCard 4s infinite;
    padding-top: $card-padding-up-down;
    padding-bottom: $card-padding-up-down;
    padding-left: $card-padding-sides;
    padding-right: $card-padding-sides;

    align-self: center;
    justify-self: center;
}

@keyframes benefitCard {
    0% {
        background-color: goldenrod;
    }
    50% {
        background-color: gray;
    }
    100% {
        background-color: goldenrod;
    }
}


// ------------------------------


.benefits_column_div {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr 3fr;
    gap: 10px;
    // justify-content: center;
    // align-items: flex-start;
    //background-color: red;
    padding: 10px;

    text-align: center;

    p {
        font-size: 20px;
    }
    h3 {
        font-size: 25px;
        font-weight: bold;
    }
}
.benefit_one_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //gap: 5px;
    animation: benefit_one_card_animation 2s 1;
}
.benefit_one_card:hover {
    scale: 1.05;
}
.bird {
    width: 50px;
    height: 50px;
}
.grid_inner {
    display: flex;
    flex-direction: row;
}

@keyframes benefit_one_card_animation {
    0% { 
        opacity: 0;
        margin-right: 100%; 
        // background-color: red;
    } 
    50% { 
        opacity: 0.5;
        margin-right: 50%; 
        // background-color: blue;
    }
    100% { 
        opacity: 1;
        margin-right: 0; 
        // background-color: green;
    }
}