@import "variables";

$photo_scale: 170px;


@media (max-width: $small-screen) {
    .feedback_div {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap_between_cards_vertical $gap_between_cards_horizontal;
    }
}

@media (min-width: $small-screen) and (max-width: $medium-screen) {
    .feedback_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gap_between_cards_vertical $gap_between_cards_horizontal;
    }
}

@media screen and (min-width: $medium-screen) {
    .feedback_div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $gap_between_cards_vertical $gap_between_cards_horizontal;
    }
}


.feedback_card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    
    h3 {
        font-size: 25px;
    }
    p {
        line-height: 1.5;
        font-size: 18px;
    }

    // background-color: red;
}
.feedback_card:hover {
    scale: 1.1;
}

.feedback_photo {
    width: $photo_scale;
    height: $photo_scale;
    border-radius: 50%;
    border: $card-border-width solid $border_color;

    img {
        width: $photo_scale;
        height: $photo_scale;
        border-radius: 50%;
    }
}