@media (max-width: 500px) {
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px 20px;
    padding-right: 20px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    padding-right: 20px;
  }
}
@media (min-width: 800px) {
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 20px;
    padding-right: 20px;
  }
}
.one_service {
  background-color: rgb(167, 153, 120);
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  border: 1px solid grey;
}
.one_service img {
  width: 70px;
  height: 70px;
}
.one_service h1 {
  font-size: 30px;
}
.one_service p {
  font-size: 20px;
}
.one_service li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}

.one_service:hover {
  background-color: rgb(210, 161, 37);
  -webkit-box-shadow: 5px 5px rgb(167, 139, 68);
          box-shadow: 5px 5px rgb(167, 139, 68);
  border: 0px solid rgb(211, 242, 220);
  scale: 1.03;
}