$body-bgcolor: rgb(225, 215, 215);
$body-font-color: black;

$logo-font-color: rgb(252, 245, 245);
$text-font-size: 20px;


$wrap-padding-sides-small: 0;
$wrap-padding-sides-medium: 5%;
$wrap-padding-sides-large: 10%;

$wrap-margin-sides-small: 0;
$wrap-margin-sides-medium: 0;
$wrap-margin-sides-large: 5%;

$small-screen: 500px;
$medium-screen: 800px;
$extra-large-screen: 1100px;

$gap_between_cards_horizontal: 20px;
$gap_between_cards_vertical: 15px;

$card-border-width: 3px;
$card-padding-up-down: 25px;
$card-padding-sides: 5px;

$card_padding_right: 20px;

$border_color: rgb(211, 242, 220);