@media (max-width: 500px) {
  .benefits_div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px 20px;
    padding-right: 20px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .benefits_div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding-right: 20px;
  }
}
@media (min-width: 800px) {
  .benefits_div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 20px;
    padding-right: 20px;
  }
}
.benefit_card {
  border: 3px solid white;
  border-radius: 15px;
  min-height: 250px;
  -webkit-animation: benefitCard 4s infinite;
          animation: benefitCard 4s infinite;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
}
.benefit_card h3 {
  font-size: 25px;
  font-weight: bold;
}
.benefit_card p {
  font-size: 20px;
}

@-webkit-keyframes benefitCard {
  0% {
    background-color: goldenrod;
  }
  50% {
    background-color: gray;
  }
  100% {
    background-color: goldenrod;
  }
}

@keyframes benefitCard {
  0% {
    background-color: goldenrod;
  }
  50% {
    background-color: gray;
  }
  100% {
    background-color: goldenrod;
  }
}
.big_logo_div {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.big_logo_div h1 {
  color: rgb(252, 245, 245);
  font-family: serif;
  font-size: 60px;
  font-weight: bold;
}
.big_logo_div p {
  color: red;
  font-size: 40px;
  margin: 0px;
}

.main_text {
  position: absolute;
  top: 60%;
}

.arrow {
  width: 50px;
}

.down_arrow_div {
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  -webkit-animation: arrowDown 2s infinite;
          animation: arrowDown 2s infinite;
}

@-webkit-keyframes arrowDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 30px;
  }
}
.slider {
  width: 400px;
  height: 300px;
  overflow: hidden;
  border: 5px solid #fff;
}

.middle {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.bar:hover {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

input[name=r] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: sliderMoving;
          animation-name: sliderMoving;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.slide {
  width: 33.333%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -33.333%;
}

#r3:checked ~ .s1 {
  margin-left: -66.666%;
}

@-webkit-keyframes sliderMoving {
  0% {
    margin-left: 0%;
  }
  16% {
    margin-left: 0%;
  }
  33.333% {
    margin-left: -100%;
  }
  48% {
    margin-left: -100%;
  }
  66.666% {
    margin-left: -200%;
  }
  81% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes sliderMoving {
  0% {
    margin-left: 0%;
  }
  16% {
    margin-left: 0%;
  }
  33.333% {
    margin-left: -100%;
  }
  48% {
    margin-left: -100%;
  }
  66.666% {
    margin-left: -200%;
  }
  81% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px 20px;
    padding-right: 20px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding-right: 20px;
  }
}
@media (min-width: 800px) {
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 20px;
    padding-right: 20px;
  }
}
.one_service {
  background-color: grey;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  border: 3px solid white;
}
.one_service img {
  width: 70px;
  height: 70px;
}
.one_service h1 {
  font-size: 30px;
}
.one_service p {
  font-size: 20px;
}
.one_service li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}

.one_service:hover {
  background-color: dimgray;
  -webkit-box-shadow: 5px 5px gray;
          box-shadow: 5px 5px gray;
}

@media (max-width: 800px) {
  .contacts-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
    padding-right: 20px;
  }
  .contacts-div p {
    text-align: start;
    font-size: 20px;
  }
  .contacts-div a {
    font-size: 20px;
    text-decoration: none;
    text-align: start;
    color: black;
  }
  .contacts-div img {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 800px) {
  .contacts-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
    padding-right: 20px;
  }
  .contacts-div p {
    text-align: start;
    font-size: 20px;
  }
  .contacts-div a {
    font-size: 20px;
    text-decoration: none;
    text-align: start;
    color: black;
  }
  .contacts-div img {
    width: 40px;
    height: 40px;
  }
}
.contacts-sub-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-align: center;
}
.contacts-sub-div p {
  text-align: center;
}

.contacts-sub-div-outer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.iframe-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

body {
  background-color: black;
  text-align: center;
}
body h1 {
  font-size: 40px;
}

.wrapped_div_1 {
  background-color: rgb(225, 215, 215);
}

@media (max-width: 500px) {
  .wrapped_div_2 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .wrapped_div_2 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 800px) {
  .wrapped_div_2 {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 500px) {
  .feedback_div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px 20px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .feedback_div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
  }
}
@media (min-width: 800px) {
  .feedback_div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 20px;
  }
}
.feedback_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback_card h3 {
  font-size: 25px;
}
.feedback_card p {
  font-size: 18px;
}

.feedback_photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid plum;
}
.feedback_photo img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.chapter-div {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 100%;
}

.error {
  color: rgb(128, 11, 11);
}

header {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding-top: 20px;
}
@media (max-width: 500px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 500px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
header img {
  width: 70px;
  height: 20px;
}
header a {
  text-decoration: none;
  color: white;
}
header p {
  font-size: 18px;
  color: white;
}

footer img {
  width: 400px;
  height: 100px;
  padding: 30px;
}