
@import "variables";
@import "benefits-mixin";
@import "main-logo";
@import "slider";
@import "services";
@import "contacts";
@import "body_wrapper";
@import "feedbacks";


.chapter-div {
    // margin-top: 40px;
    // margin-bottom: 40px;
    // background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

.error {
    color: rgb(128, 11, 11);
}

header {
    //position: fixed;
    width: 100%;
    height: 40px;
    display: flex;
    @media (max-width: $small-screen) {
        flex-direction: column;
        //gap: 10px;
    }
    @media (min-width: $small-screen) {
        flex-direction: row;
        gap: 30px;
    }
    justify-content: center;
    align-items: center;
    background-color: $mainPage_bgColor;
    padding-top: 20px;

    img {
        width: 70px;
        height: 20px;
    }
    a {
        text-decoration: none;
        color: $mainPage_fontColor;
    }
    p {
        font-size: 18px;
        color: $mainPage_fontColor;
    }
}

footer {
    img {
        width: 400px;
        height: 100px;
        padding: 30px;
    }
}